@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general */
:root {
  font-size: 36px;
  font-weight: 400;
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  --button-hover-color: rgb(196, 68, 194);
}

.container {
  max-width: 1140px;
  margin: auto;
}

a {
  color: black;
}

html {
  scroll-behavior: smooth;
}

/* header */
body header {
  margin: auto;
  height: 100vh;
  max-height: 940px;
  min-height: 880px;
  max-width: 1920px;
  background: url("https://fluxick.github.io/project_slk/img/index/header.jpg") no-repeat;
  background-size: cover;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

/* logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo h1 {
  font-size: 48px;
  font-weight: 600;
  padding-left: 25px;
}

/* nav */
.burger_menu {
  position: relative;
  font-size: 60px;
  background: none;
  transition: all .2s linear;
  display: none;
  height: 50px;
  width: 50px;
}

.burger_menu:hover {
  cursor: pointer;
  filter: drop-shadow(1.5px 1.5px 1px rgba(0, 0, 0, 0.5));
}

.burger_menu span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 7px;
  transform: translate3d(0, -50%, 0);
  background: black;
}

.burger_menu span:before,
.burger_menu span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 7px;
  background: black;
  content: "";
}

.burger_menu span:before {
  top: -15px;
}

.burger_menu span:after {
  top: 15px;
}

.burger_menu_line span {
  transition: background 0s .3s;
}

.burger_menu_line span:before,
.burger_menu_line span:after {
  transition-duration: .3s, .3s;
  transition-delay: .3s, 0s;
}

.burger_menu_line span:before {
  transition-property: top, transform;
}

.burger_menu_line span:after {
  transition-property: top, transform;
}

.burger_menu_line.active span {
  background: transparent;
}

.burger_menu_line.active span:after {
  top: 0;
  transform: rotate(45deg);
}

.burger_menu_line.active span:before {
  top: 0;
  transform: rotate(-45deg);
}

.burger_menu_line.active span:before,
.burger_menu_line.active span:after {
  transition-delay: 0s, .3s;
}

.hamb_nav {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.hamb_nav a {
  font-size: 24px;
  font-weight: 600;
  margin-left: 25px;
  transition: all .1s linear;
}

.hamb_nav :last-child {
  margin-top: 10px;
}

.hamb_nav a:hover {
  color: white;
  text-decoration: underline;
}

/* actual nav */
nav {
  display: flex;
  align-items: center;
}

nav a {
  font-size: 24px;
  font-weight: 600;
  margin-left: 25px;
  transition: all .1s linear;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

/* intro */
.intro {
  text-align: center;
  margin-top: 90px;
}

.intro_title h2 {
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.intro_title h2:after {
  content: "";
  display: block;
  height: 5px;
  width: 450px;
  background: black;
  margin: 30px auto 0;
}

.intro_title h1 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 48px;
}

/* intro buttons */
.intro_buttons {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.intro_buttons button {
  font-size: 48px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  padding: 7.5px 0;
  border-radius: 40px;
}

.login_button a {
  color: white;
}

.signup_button:hover a {
  color: white;
}

.signup_button {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  transition: .1s linear;
  background: none;
  border: 5px solid black;
}

.signup_button:hover {
  background: var(--button-hover-color);
  border: 5px solid var(--button-hover-color);
  color: white;
  cursor: pointer;
}

.login_button {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  transition: .1s linear;
  background: #2c0948;
  border: 5px solid #2c0948;
  color: white;
}

.login_button:hover {
  background: var(--button-hover-color);
  border: 5px solid var(--button-hover-color);
  color: white;
  cursor: pointer;
}

/* sign and login */
.wrapper {
  position: absolute;
  z-index: 100;
  height: 100vh;
  max-height: 940px;
  width: 100vw;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.wrapper * {
  visibility: hidden;
}

.wrapper.active,
.wrapper.active * {
  visibility: visible;
}

.inner_wrapper {
  height: 800px;
  width: 1000px;
  border-radius: 170px;
  text-align: center;
  background: #1D8C93;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.5))
}

.inner_wrapper span {
  font-weight: 600;
  font-size: 72px;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 600px;
  margin: 20px auto 0;
}

.sign_up_form input {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 200;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 20px 200px 20px 25px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.sign_up_form button {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: #144346;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.sign_up_form button:hover {
  cursor: pointer;
  background: #176166;
}

.steam_connect {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#header>div.signUp_wrapper>div>a>span,
#header>div.wrapper>div>a>span {
  font-size: 36px;
  font-weight: 300;
  padding-left: 10px;
}

.signUp_wrapper {
  position: absolute;
  z-index: 100;
  height: 100vh;
  max-height: 940px;
  width: 100vw;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.signUp_wrapper * {
  visibility: hidden;
}

.signUp_wrapper.active,
.signUp_wrapper.active * {
  visibility: visible;
}

.signup_inner_wrapper {
  height: 800px;
  width: 1000px;
  border-radius: 170px;
  text-align: center;
  background: #3D5DAE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.5))
}

.signup_inner_wrapper span {
  font-weight: 600;
  font-size: 72px;
}

.sign_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 600px;
  margin: 20px auto 0;
}

.sign_form input {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 200;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 20px 200px 20px 25px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.sign_form button {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: #133CA5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.sign_form button:hover {
  cursor: pointer;
  background: #0f2d77;
}

/* first section */
section {
  min-height: 940px;
  max-height: 980px;
}

.section_title {
  padding-top: 75px;
  text-align: center;
}

.section_title h3 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 96px;
  font-weight: 400;
  white-space: nowrap;
}

.section_title h3:after {
  content: "";
  display: block;
  height: 5px;
  width: 230px;
  margin: 20px auto 0;
  border-radius: 20px;
  background: #d42e2e;
}

.section_title p {
  margin-top: 70px;
}

/* section images */
.section_images {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  padding-bottom: 75px;
}

.image_block {
  width: 30%;
  background: #0a0938;
}

.image_container {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #9913bb, #4a0c7a, #1f1a5a);
  transition: all linear .2s;
}

.image_block:hover .image_container {
  transform: translate(-10%, -10%)
}

.image_container span {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: white;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: all linear .15s;
}

.image_container img {
  width: 100%;
  display: block;
  transition: all linear .15s;
}

.image_block:hover img {
  opacity: .25;
  filter: blur(1px);
}

.image_block:hover span {
  opacity: 1;
}

/* statistics */
.statistics {
  background: linear-gradient(to right, #100528, #250b37, #3a0b42);
  max-width: 1920px;
  margin: auto;
}

.statistics_panel {
  display: flex;
}

.stat_block {
  flex: 1 1 0;
  color: white;
  border-left: 5px solid rgba(0, 0, 0, 0.4);
}

.stat_desc {
  text-align: center;
  padding: 20px 0;
}

.statistics_panel .stat_block:last-child {
  border-right: 5px solid rgba(0, 0, 0, 0.4);
}

.stat_desc p {
  font-size: 64px;
  font-weight: 500;
}

.stat_block h2 {
  font-size: 32px;
  font-weight: 400;
}

/* second section */
#second_section {
  max-height: none;
}

.offer_panel {
  display: grid;
  grid-template: 66% 33%/ 1fr 1fr 1fr;
  margin: 100px 0 75px;
}

.offer_block {
  position: relative;
  margin-bottom: 75px;
}

.offer_block img {
  position: absolute;
  width: 100px;
}

.offer_block h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 32px 0 0 120px;
}

.offer_block p {
  font-size: 16px;
  padding: 10px 0 0 122px;
}

/* offer button */
.offer_button a {
  display: block;
  width: 700px;
  margin: auto;
  padding: 20px 0;
  border-radius: 12px;
  background: #be4444;
  color: white;
  text-align: center;
  transition: linear .1s;
  font-size: 72px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.offer_button {
  display: block;
  padding-bottom: 30px;
}

.offer_button a:hover {
  background: #6f1111;
}

/* footer */
#footer {
  background: linear-gradient(to right, #100528, #250b37, #3a0b42);
  max-width: 1920px;
  margin: auto;
}

.discord {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.discord a {
  margin-left: 15px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5))
}

.discord span {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.discord img {
  transition: .1s linear;
}

.discord img:hover {
  transform: translate(-4px, -4px);
}

/* responsive */
@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }

  /* first section */
  section {
    max-height: auto;
    min-height: auto;
  }

  .section_title p {
    font-size: 32px;
    margin-top: 40px;
  }

  .section_title h3 {
    font-size: 84px;
  }

  .section_title h3:after {
    width: 150px;
  }

  .image_container span {
    font-size: 40px;
  }

  .section_title {
    padding-top: 35px;
  }

  /* signup login */
  .inner_wrapper {
    height: 700px;
    width: 800px;
  }

  .signup_inner_wrapper {
    height: 700px;
    width: 800px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  /* header */
  body header {
    max-height: 780px;
    min-height: 740px;
  }

  .intro_title h2 {
    font-size: 72px;
  }

  .intro_title h1 {
    font-size: 42px;
  }

  .logo h1 {
    display: none;
  }

  .intro {
    margin-top: 45px;
  }

  .intro_title h2:after {
    height: 4px;
    width: 300px;
    margin-top: 30px;
  }

  .intro_title h1 {
    margin-top: 30px;
  }

  /* first section */
  .section_title p {
    font-size: 26px;
  }

  .section_images {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .image_container span {
    font-size: 30px;
  }

  /* statistics */
  .stat_desc p {
    font-size: 54px;
  }

  .stat_block h2 {
    font-size: 28px;
  }

  /* second section */
  .offer_panel {
    grid-template: 1fr 1fr 1fr / 50% 50%;
  }

  .offer_block {
    margin-bottom: 30px;
  }

  .offer_panel {
    margin: 35px auto;
  }

  /* signup login */
  .inner_wrapper {
    height: 700px;
    width: 600px;
    border-radius: 100px;
  }

  .sign_up_form input {
    padding-right: 100px;
  }

  .signup_inner_wrapper {
    height: 700px;
    width: 600px;
    border-radius: 100px;
  }

  .sign_form input {
    padding-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }

  /* header */
  body header {
    min-height: 820px;
    max-height: 860px;
  }

  body header .intro_title h2 {
    font-size: 52px;
  }

  .intro_title h1 {
    font-size: 30px;
  }

  .intro_title h2:after {
    width: 200px;
  }

  nav {
    display: none;
  }

  .hamb_nav {
    display: none;
    transition: display ease 3s;
  }

  .hamb_nav.nav_active {
    display: flex;
  }

  .burger_menu {
    display: block;
  }

  .intro_buttons {
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .intro_buttons button {
    margin-top: 30px;
    width: 500px;
  }

  /* first section */
  .section_title p {
    font-size: 19px;
    margin-top: 25px;
  }

  .image_container span {
    font-size: 20px;
  }

  .section_title h3 {
    font-size: 72px;
  }

  .section_title h3:after {
    width: 120px;
    margin: 0 auto;
  }

  .section_images {
    flex-direction: column;
    align-items: center;
  }

  .image_block {
    border-radius: 100px;
    margin-bottom: 15px;
  }

  .image_container {
    border-radius: 100px;
  }

  .image_block:hover .image_container {
    transform: none;
  }

  .section_images .image_block:last-child {
    margin: 0;
  }

  .image_container img {
    border-radius: 100px;
  }

  .image_block img {
    opacity: .25;
    filter: blur(1px);
  }

  .image_block span {
    opacity: 1;
  }

  /* statistics */
  .statistics>div {
    width: 100%;
  }

  .stat_desc p {
    font-size: 40px;
  }

  .stat_block h2 {
    font-size: 20px;
  }

  .statistics_panel .stat_block:first-child {
    border-left: none;
  }

  .statistics_panel .stat_block:last-child {
    border-right: none;
  }

  /* second section */
  .offer_panel {
    grid-template: repeat(6, 1fr) / 100%;
  }

  .offer_block {
    margin-bottom: 10px;
  }

  .offer_button a {
    width: 540px;
    font-size: 48px;
    margin-bottom: 20px;
  }

  /* footer */
  .discord span {
    font-size: 28px;
  }

  /* signup login */
  .inner_wrapper {
    height: 600px;
    width: 500px;
    border-radius: 100px;
  }

  .sign_up_form input {
    padding-right: 30px;
  }

  .signup_inner_wrapper {
    height: 700px;
    width: 500px;
    border-radius: 100px;
  }

  .sign_form input {
    padding-right: 30px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* header */
  body header {
    min-height: 640px;
    max-height: 650px;
  }

  .intro_buttons button {
    width: 220px;
    font-size: 32px;
  }

  body header .intro_title h2 {
    font-size: 28px;
  }

  .logo a img {
    width: 80px;
  }

  .intro_title h1 {
    font-size: 17px;
  }

  .intro_title h2:after {
    width: 150px;
  }

  /* first section */
  .section_title p {
    font-size: 10px;
    margin-top: 20px;
  }

  .image_container span {
    font-size: 11px;
  }

  .section_title h3 {
    font-size: 52px;
  }

  .section_title p {
    line-height: 150%;
    font-size: 3.25vw;
  }

  .section_title h3:after {
    width: 120px;
    height: 3px;
    margin: 5px auto;
  }

  .section_images {
    margin-top: 25px;
    padding-bottom: 25px;
  }

  /* statistics */
  .statistics>div {
    padding: 0;
  }

  .stat_block h2 {
    font-size: 12px;
  }

  .stat_block p {
    font-size: 24px;
  }

  /* second section */
  .section_title h3 {
    font-size: 12vw;
  }

  .section_title h3:after {
    width: 80px;
  }

  .offer_block h2 {
    font-size: 6vw;
    padding: 25px 0 0 100px;
  }

  .offer_block p {
    font-size: 3.3vw;
    padding: 10px 0 0 100px;
  }

  .offer_block img {
    width: 75px;
  }

  .offer_button a {
    width: 250px;
    font-size: 24px;
  }

  /* footer */
  .discord {
    padding: 5px 0;
  }

  .discord span {
    font-size: 14px;
  }

  .discord img {
    width: 50px;
  }

  /* signup login */
  .inner_wrapper {
    height: 80%;
    width: 80%;
    max-height: 420px;
    border-radius: 30px;
  }

  .inner_wrapper span {
    font-size: 15vw;
  }

  .sign_up_form {
    margin: auto;
    width: 80%;
  }

  .sign_up_form input {
    padding: 15px;
    font-size: 14px;
  }

  .sign_up_form button {
    font-size: 18px;
    padding: 15px 25px;
  }

  .sign_up_form {
    margin: 5px;
  }

  .signup_inner_wrapper {
    height: 100%;
    width: 80%;
    max-height: 500px;
    border-radius: 30px;
  }

  .signup_inner_wrapper span {
    font-size: 10vw;
  }

  .sign_form {
    margin: auto;
    width: 80%;
  }

  .sign_form input {
    padding: 15px;
    font-size: 14px;
  }

  .sign_form button {
    font-size: 18px;
    padding: 15px 25px;
  }

  .sign_form {
    margin: 5px;
  }

  .steam_connect {
    margin-top: 0;
  }

  #header>div.signUp_wrapper>div>a>img,
  #header>div.wrapper>div>a>img {
    width: 25px;
  }


  #header>div.signUp_wrapper>div>a>span,
  #header>div.wrapper>div>a>span {
    font-size: 12px;
  }
}