.filter_container {
    position: relative;
    height: 30px;
    width: 600px;
    margin: 40px auto 0;
    overflow: hidden;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: .8s ease-in-out;
}

.catalog_title {
    display: flex;
    justify-content: center;
    align-content: center;

    margin-top: 70px;
}

.catalog_title span {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    display: block;
    width: 500px;
}

.catalog_title span:after {
    content: '';
    display: block;
    background: hsla(0, 70%, 58%, 0.5);
    height: 5px;
    width: 200px;
    margin: auto;
    border-radius: 3px;
}

.catalog_title :last-child {
    order: 1;
}

.catalog_title button img {
    height: 25px;
}

.catalog_title button {
    margin-top: 40px;
    height: 30px;
    width: 30px;
    background: none;
    cursor: pointer;
    transition: .1s linear;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.catalog_title button:first-child:hover {
    transform: translate(-2px, 0);

}

.catalog_title button:last-child:hover {
    transform: translate(2px, 0);
}

/* catalog filter */
/* .filter {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
    max-width: 600px;
} */

.filter button {
    font-size: 24px;
    background: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
}

.filter button:hover {
    color: #070EBE;
    cursor: pointer;
    text-decoration: underline;
}

/* catalog */

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.catalog_item {
    text-align: center;
    margin-top: 40px;
}

.catalog_item p {
    font-size: 24px;
    font-weight: 300;
}

.catalog_item p span {
    color: #66377C;
}

.catalog img {
    background: white;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.item_title button {
    background: none;
}

.item_title button img {
    background: none;
    margin-left: 15px;
    transition: .1s linear;
}

.item_title button img:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.item_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .catalog {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .filter {
        flex-direction: column;
    }

    .filter button {
        margin-top: 15px;
    }

    .catalog_title>span {
        font-size: 36px;
        text-align: center;
    }

    .catalog_title>span:after {
        width: 100px;
    }

    .catalog_title {
        align-items: center;
    }

    .catalog_title button {
        margin-top: 20px;
    }

    .catalog_item>img {
        width: 200px;
    }

    .catalog {
        margin-top: 15px;
    }
}